<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CountryName</key>
		<string>Zimbabwe</string>
		<key>CountryFlag</key>
		<string>zimbabwe.png</string>
		<key>CountryCode</key>
		<string>+263</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Zanzibar</string>
		<key>CountryFlag</key>
		<string>zanzibar.png</string>
		<key>CountryCode</key>
		<string>+255</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Zambia</string>
		<key>CountryFlag</key>
		<string>zambia.png</string>
		<key>CountryCode</key>
		<string>+260</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Yemen</string>
		<key>CountryFlag</key>
		<string>yemen.png</string>
		<key>CountryCode</key>
		<string>+967</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Wallis and Futuna</string>
		<key>CountryFlag</key>
		<string>Wallis and Futuna.png</string>
		<key>CountryCode</key>
		<string>+681</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Wake Island, USA</string>
		<key>CountryFlag</key>
		<string>wake Island, USA.png</string>
		<key>CountryCode</key>
		<string>+1 808</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Việt Nam</string>
		<key>CountryFlag</key>
		<string>vietnam.png</string>
		<key>CountryCode</key>
		<string>+84</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Vatican City State (Holy See)</string>
		<key>CountryFlag</key>
		<string>Vatican City State (Holy See).png</string>
		<key>CountryCode</key>
		<string>+39 06 698, +379</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Venezuela</string>
		<key>CountryFlag</key>
		<string>Venezuela.png</string>
		<key>CountryCode</key>
		<string>+58</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Vanuatu</string>
		<key>CountryFlag</key>
		<string>vanuatu.png</string>
		<key>CountryCode</key>
		<string>+678</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>O&apos;zbekiston</string>
		<key>CountryFlag</key>
		<string>uzbekistan.png</string>
		<key>CountryCode</key>
		<string>+998</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>US Virgin Islands</string>
		<key>CountryFlag</key>
		<string>US Virgin Islands.png</string>
		<key>CountryCode</key>
		<string>+1 340</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Uruguay</string>
		<key>CountryFlag</key>
		<string>uruguay.png</string>
		<key>CountryCode</key>
		<string>+598</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>United States</string>
		<key>CountryFlag</key>
		<string>us.png</string>
		<key>CountryCode</key>
		<string>+1</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>United Kingdom</string>
		<key>CountryFlag</key>
		<string>Uk.png</string>
		<key>CountryCode</key>
		<string>+44</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>United Arab Emirates</string>
		<key>CountryFlag</key>
		<string>united arab emirates.png</string>
		<key>CountryCode</key>
		<string>+971</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Ukraine</string>
		<key>CountryFlag</key>
		<string>ukraine.png</string>
		<key>CountryCode</key>
		<string>+380</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Uganda</string>
		<key>CountryFlag</key>
		<string>uganda.png</string>
		<key>CountryCode</key>
		<string>+256</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Tuvalu</string>
		<key>CountryFlag</key>
		<string>tuvalu.png</string>
		<key>CountryCode</key>
		<string>+688</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Turks and Caicos Islands</string>
		<key>CountryFlag</key>
		<string>turks &amp; caicos islands.png</string>
		<key>CountryCode</key>
		<string>+1 649</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Turkmenistan</string>
		<key>CountryFlag</key>
		<string>turkmenistan.png</string>
		<key>CountryCode</key>
		<string>+993</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Turkey</string>
		<key>CountryFlag</key>
		<string>turkey.png</string>
		<key>CountryCode</key>
		<string>+90</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Tunisia</string>
		<key>CountryFlag</key>
		<string>tunisia.png</string>
		<key>CountryCode</key>
		<string>+216</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Tristan da Cunha</string>
		<key>CountryFlag</key>
		<string>tristan da cunha.png</string>
		<key>CountryCode</key>
		<string>+290 8</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Trinidad and Tobago</string>
		<key>CountryFlag</key>
		<string>trinidad &amp; tobago.png</string>
		<key>CountryCode</key>
		<string>+1 868</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Tonga</string>
		<key>CountryFlag</key>
		<string>tonga.png</string>
		<key>CountryCode</key>
		<string>+676</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Tokelau</string>
		<key>CountryFlag</key>
		<string>tokelau.png</string>
		<key>CountryCode</key>
		<string>+690</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Togo</string>
		<key>CountryFlag</key>
		<string>togo</string>
		<key>CountryCode</key>
		<string>+228</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Thailand</string>
		<key>CountryFlag</key>
		<string>thailand.png</string>
		<key>CountryCode</key>
		<string>+66</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Tanzania</string>
		<key>CountryFlag</key>
		<string>tanzania.png</string>
		<key>CountryCode</key>
		<string>+255</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Tajikistan</string>
		<key>CountryFlag</key>
		<string>tajikistan.png</string>
		<key>CountryCode</key>
		<string>+992</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Taiwan</string>
		<key>CountryFlag</key>
		<string>taiwan.png</string>
		<key>CountryCode</key>
		<string>+886</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Syria</string>
		<key>CountryFlag</key>
		<string>syria.png</string>
		<key>CountryCode</key>
		<string>+963</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Switzerland</string>
		<key>CountryFlag</key>
		<string>switzerland.png</string>
		<key>CountryCode</key>
		<string>+41</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Sweden</string>
		<key>CountryFlag</key>
		<string>sweden.png</string>
		<key>CountryCode</key>
		<string>+46</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Swaziland</string>
		<key>CountryFlag</key>
		<string>swaziland.png</string>
		<key>CountryCode</key>
		<string>+268</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Svalbard</string>
		<key>CountryFlag</key>
		<string>svalbard.png</string>
		<key>CountryCode</key>
		<string>+47 79</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Suriname</string>
		<key>CountryFlag</key>
		<string>suriname.png</string>
		<key>CountryCode</key>
		<string>+597</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Sudan</string>
		<key>CountryFlag</key>
		<string>sudan.png</string>
		<key>CountryCode</key>
		<string>+249</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Sri Lanka</string>
		<key>CountryFlag</key>
		<string>sri lanka.png</string>
		<key>CountryCode</key>
		<string>+94</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Spain</string>
		<key>CountryFlag</key>
		<string>spain.png</string>
		<key>CountryCode</key>
		<string>+34</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>South Sudan</string>
		<key>CountryFlag</key>
		<string>south-sudan.png</string>
		<key>CountryCode</key>
		<string>+211</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>South Ossetia</string>
		<key>CountryFlag</key>
		<string>south-ossetia.png</string>
		<key>CountryCode</key>
		<string>+995 34</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>South Africa</string>
		<key>CountryFlag</key>
		<string>south-africa.png</string>
		<key>CountryCode</key>
		<string>+27</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Somalia</string>
		<key>CountryFlag</key>
		<string>somalia.png</string>
		<key>CountryCode</key>
		<string>+252</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Solomon Islands</string>
		<key>CountryFlag</key>
		<string>solomon islands.png</string>
		<key>CountryCode</key>
		<string>+677</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Slovenia</string>
		<key>CountryFlag</key>
		<string>slovenia.png</string>
		<key>CountryCode</key>
		<string>+386</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Slovakia</string>
		<key>CountryFlag</key>
		<string>slovakia.png</string>
		<key>CountryCode</key>
		<string>+421</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Sint Maarten (Netherlands)</string>
		<key>CountryFlag</key>
		<string>Sint Maarten (Netherlands).png</string>
		<key>CountryCode</key>
		<string>+1 721</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Sint Eustatius</string>
		<key>CountryFlag</key>
		<string>sint-eustatius.png</string>
		<key>CountryCode</key>
		<string>+599 3</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Singapore</string>
		<key>CountryFlag</key>
		<string>singapore.png</string>
		<key>CountryCode</key>
		<string>+65</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Sierra Leone</string>
		<key>CountryFlag</key>
		<string>sierra leone.png</string>
		<key>CountryCode</key>
		<string>+232</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Seychelles</string>
		<key>CountryFlag</key>
		<string>seychelles.png</string>
		<key>CountryCode</key>
		<string>+248</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Serbia</string>
		<key>CountryFlag</key>
		<string>serbia.png</string>
		<key>CountryCode</key>
		<string>+381</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Senegal</string>
		<key>CountryFlag</key>
		<string>senegal.png</string>
		<key>CountryCode</key>
		<string>+221</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Saudi Arabia</string>
		<key>CountryFlag</key>
		<string>saudi arabia.png</string>
		<key>CountryCode</key>
		<string>+966</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>São Tomé and Príncipe</string>
		<key>CountryFlag</key>
		<string>São Tomé and Príncipe.png</string>
		<key>CountryCode</key>
		<string>+239</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>San Marino</string>
		<key>CountryFlag</key>
		<string>San Marino.png</string>
		<key>CountryCode</key>
		<string>+378</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Samoa</string>
		<key>CountryFlag</key>
		<string>Samoa.png</string>
		<key>CountryCode</key>
		<string>+685</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Saint Vincent and the Grenadines</string>
		<key>CountryFlag</key>
		<string>Saint Vincent and the Grenadines.png</string>
		<key>CountryCode</key>
		<string>+1 784</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Saint Pierre and Miquelon</string>
		<key>CountryFlag</key>
		<string>Saint Pierre and Miquelon.png</string>
		<key>CountryCode</key>
		<string>+508</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Saint Martin (France)</string>
		<key>CountryFlag</key>
		<string>Saint Martin (France).png</string>
		<key>CountryCode</key>
		<string>+590</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Saint Lucia</string>
		<key>CountryFlag</key>
		<string>Saint Lucia.png</string>
		<key>CountryCode</key>
		<string>+1 758</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Saint Kitts and Nevis</string>
		<key>CountryFlag</key>
		<string>Saint Kitts and Nevis.png</string>
		<key>CountryCode</key>
		<string>+1 869</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Saint Helena</string>
		<key>CountryFlag</key>
		<string>Saint Helena.png</string>
		<key>CountryCode</key>
		<string>+290</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Saint Barthélemy</string>
		<key>CountryFlag</key>
		<string>Saint Barthélemy.png</string>
		<key>CountryCode</key>
		<string>+590</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Saba</string>
		<key>CountryFlag</key>
		<string>saba.png</string>
		<key>CountryCode</key>
		<string>+599 4</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Rwanda</string>
		<key>CountryFlag</key>
		<string>rwanda.png</string>
		<key>CountryCode</key>
		<string>+250</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Russia</string>
		<key>CountryFlag</key>
		<string>russia.png</string>
		<key>CountryCode</key>
		<string>+7</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Romania</string>
		<key>CountryFlag</key>
		<string>romania.png</string>
		<key>CountryCode</key>
		<string>+40</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Puerto Rico</string>
		<key>CountryFlag</key>
		<string>Puerto Rico.png</string>
		<key>CountryCode</key>
		<string>+1 787, +1 939</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Portugal</string>
		<key>CountryFlag</key>
		<string>portugal.png</string>
		<key>CountryCode</key>
		<string>+351</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Poland</string>
		<key>CountryFlag</key>
		<string>poland.png</string>
		<key>CountryCode</key>
		<string>+48</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Pitcairn Islands</string>
		<key>CountryFlag</key>
		<string>pitcairn islands.png</string>
		<key>CountryCode</key>
		<string>+64</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Philippines</string>
		<key>CountryFlag</key>
		<string>philippines.png</string>
		<key>CountryCode</key>
		<string>+63</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Peru</string>
		<key>CountryFlag</key>
		<string>peru.png</string>
		<key>CountryCode</key>
		<string>+51</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Paraguay</string>
		<key>CountryFlag</key>
		<string>paraguay.png</string>
		<key>CountryCode</key>
		<string>+595</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Papua New Guinea</string>
		<key>CountryFlag</key>
		<string>Papua New Guinea.png</string>
		<key>CountryCode</key>
		<string>+675</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Panama</string>
		<key>CountryFlag</key>
		<string>panama.png</string>
		<key>CountryCode</key>
		<string>+507</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Palestinian territories</string>
		<key>CountryFlag</key>
		<string>palestinian.png</string>
		<key>CountryCode</key>
		<string>+970</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Palau</string>
		<key>CountryFlag</key>
		<string>palau.png</string>
		<key>CountryCode</key>
		<string>+680</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Pakistan</string>
		<key>CountryFlag</key>
		<string>pakistan.png</string>
		<key>CountryCode</key>
		<string>+92</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Oman</string>
		<key>CountryFlag</key>
		<string>oman.png</string>
		<key>CountryCode</key>
		<string>+968</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Norway</string>
		<key>CountryFlag</key>
		<string>norway.png</string>
		<key>CountryCode</key>
		<string>+47</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Northern Mariana Islands</string>
		<key>CountryFlag</key>
		<string>northern mariana islands.png</string>
		<key>CountryCode</key>
		<string>+1 670</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Norfolk Island</string>
		<key>CountryFlag</key>
		<string>norfolk island.png</string>
		<key>CountryCode</key>
		<string>+672</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Niue</string>
		<key>CountryFlag</key>
		<string>niue.png</string>
		<key>CountryCode</key>
		<string>+683</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Nigeria</string>
		<key>CountryFlag</key>
		<string>nigeria.png</string>
		<key>CountryCode</key>
		<string>+234</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Niger</string>
		<key>CountryFlag</key>
		<string>niger.png</string>
		<key>CountryCode</key>
		<string>+227</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Nicaragua</string>
		<key>CountryFlag</key>
		<string>nicaragua.png</string>
		<key>CountryCode</key>
		<string>+505</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>New Zealand</string>
		<key>CountryFlag</key>
		<string>new-zealand.png</string>
		<key>CountryCode</key>
		<string>+64</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Nevis</string>
		<key>CountryFlag</key>
		<string>nevis.png</string>
		<key>CountryCode</key>
		<string>+1 869</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Netherlands</string>
		<key>CountryFlag</key>
		<string>netherlands.png</string>
		<key>CountryCode</key>
		<string>+31</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Nepal</string>
		<key>CountryFlag</key>
		<string>nepal.png</string>
		<key>CountryCode</key>
		<string>+977</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Nauru</string>
		<key>CountryFlag</key>
		<string>nauru.png</string>
		<key>CountryCode</key>
		<string>+674</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Namibia</string>
		<key>CountryFlag</key>
		<string>namibia.png</string>
		<key>CountryCode</key>
		<string>+264</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Mozambique</string>
		<key>CountryFlag</key>
		<string>mozambique.png</string>
		<key>CountryCode</key>
		<string>+258</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Morocco</string>
		<key>CountryFlag</key>
		<string>morocco.png</string>
		<key>CountryCode</key>
		<string>+212</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Montserrat</string>
		<key>CountryFlag</key>
		<string>montserrat.png</string>
		<key>CountryCode</key>
		<string>+1 664</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Montenegro</string>
		<key>CountryFlag</key>
		<string>Montenegro.png</string>
		<key>CountryCode</key>
		<string>+382</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Mongolia</string>
		<key>CountryFlag</key>
		<string>mongolia.png</string>
		<key>CountryCode</key>
		<string>+976</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Monaco</string>
		<key>CountryFlag</key>
		<string>monaco.png</string>
		<key>CountryCode</key>
		<string>+377</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Moldova</string>
		<key>CountryFlag</key>
		<string>moldova.png</string>
		<key>CountryCode</key>
		<string>+373</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Midway Island, USA</string>
		<key>CountryFlag</key>
		<string>Midway Island, USA.png</string>
		<key>CountryCode</key>
		<string>+1 808</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Micronesia, Federated States of</string>
		<key>CountryFlag</key>
		<string>Micronesia, Federated States of.png</string>
		<key>CountryCode</key>
		<string>+691</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Mexico</string>
		<key>CountryFlag</key>
		<string>Mexico.png</string>
		<key>CountryCode</key>
		<string>+52</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Mauritania</string>
		<key>CountryFlag</key>
		<string>mauritania.png</string>
		<key>CountryCode</key>
		<string>+222</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Martinique</string>
		<key>CountryFlag</key>
		<string>martinique.png</string>
		<key>CountryCode</key>
		<string>+596</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Marshall Islands</string>
		<key>CountryFlag</key>
		<string>Marshall Islands.png</string>
		<key>CountryCode</key>
		<string>+692</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Malta</string>
		<key>CountryFlag</key>
		<string>malta.png</string>
		<key>CountryCode</key>
		<string>+356</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Mali</string>
		<key>CountryFlag</key>
		<string>mali.png</string>
		<key>CountryCode</key>
		<string>+223</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Maldives</string>
		<key>CountryFlag</key>
		<string>maldives.png</string>
		<key>CountryCode</key>
		<string>+960</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Malaysia</string>
		<key>CountryFlag</key>
		<string>malaysia.png</string>
		<key>CountryCode</key>
		<string>+60</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Malawi</string>
		<key>CountryFlag</key>
		<string>malawi.png</string>
		<key>CountryCode</key>
		<string>+265</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Madagascar</string>
		<key>CountryFlag</key>
		<string>madagascar.png</string>
		<key>CountryCode</key>
		<string>+261</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Macedonia</string>
		<key>CountryFlag</key>
		<string>macedonia.png</string>
		<key>CountryCode</key>
		<string>+389</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Macau</string>
		<key>CountryFlag</key>
		<string>macau.png</string>
		<key>CountryCode</key>
		<string>+853</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Luxembourg</string>
		<key>CountryFlag</key>
		<string>luxembourg.png</string>
		<key>CountryCode</key>
		<string>+352</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Lithuania</string>
		<key>CountryFlag</key>
		<string>lithuania.png</string>
		<key>CountryCode</key>
		<string>+370</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Liechtenstein</string>
		<key>CountryFlag</key>
		<string>liechtenstein.png</string>
		<key>CountryCode</key>
		<string>+423</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Libya</string>
		<key>CountryFlag</key>
		<string>libya.png</string>
		<key>CountryCode</key>
		<string>+218</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Liberia</string>
		<key>CountryFlag</key>
		<string>liberia.png</string>
		<key>CountryCode</key>
		<string>+231</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Lesotho</string>
		<key>CountryFlag</key>
		<string>lesotho.png</string>
		<key>CountryCode</key>
		<string>+266</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Lebanon</string>
		<key>CountryFlag</key>
		<string>lebanon.png</string>
		<key>CountryCode</key>
		<string>+961</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Latvia</string>
		<key>CountryFlag</key>
		<string>latvia.png</string>
		<key>CountryCode</key>
		<string>+371</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Laos</string>
		<key>CountryFlag</key>
		<string>laos.png</string>
		<key>CountryCode</key>
		<string>+856</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Kyrgyzstan</string>
		<key>CountryFlag</key>
		<string>kyrgyzstan.png</string>
		<key>CountryCode</key>
		<string>+996</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Kuwait</string>
		<key>CountryFlag</key>
		<string>kuwait.png</string>
		<key>CountryCode</key>
		<string>+965</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Korea, South</string>
		<key>CountryFlag</key>
		<string>Korea, South.png</string>
		<key>CountryCode</key>
		<string>+82</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Korea, North</string>
		<key>CountryFlag</key>
		<string>Korea, North.png</string>
		<key>CountryCode</key>
		<string>+850</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Kiribati</string>
		<key>CountryFlag</key>
		<string>kiribati.png</string>
		<key>CountryCode</key>
		<string>+686</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Kenya</string>
		<key>CountryFlag</key>
		<string>kenya.png</string>
		<key>CountryCode</key>
		<string>+254</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Kazakhstan</string>
		<key>CountryFlag</key>
		<string>kazakhstan.png</string>
		<key>CountryCode</key>
		<string>+7 6, +7 7</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Jordan</string>
		<key>CountryFlag</key>
		<string>jordan.png</string>
		<key>CountryCode</key>
		<string>+962</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Jersey</string>
		<key>CountryFlag</key>
		<string>jersey.png</string>
		<key>CountryCode</key>
		<string>+44</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Japan</string>
		<key>CountryFlag</key>
		<string>japan.png</string>
		<key>CountryCode</key>
		<string>+81</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Jan Mayen</string>
		<key>CountryFlag</key>
		<string>jan mayen.png</string>
		<key>CountryCode</key>
		<string>+47 79</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Jamaica</string>
		<key>CountryFlag</key>
		<string>jamaica.png</string>
		<key>CountryCode</key>
		<string>+1 876</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Italy</string>
		<key>CountryFlag</key>
		<string>italy.png</string>
		<key>CountryCode</key>
		<string>+39</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Israel</string>
		<key>CountryFlag</key>
		<string>israel.png</string>
		<key>CountryCode</key>
		<string>+972</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Isle of Man</string>
		<key>CountryFlag</key>
		<string>isle of man.png</string>
		<key>CountryCode</key>
		<string>+44</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Ireland</string>
		<key>CountryFlag</key>
		<string>ireland.png</string>
		<key>CountryCode</key>
		<string>+353</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Iraq</string>
		<key>CountryFlag</key>
		<string>Iraq.png</string>
		<key>CountryCode</key>
		<string>+964</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Iran</string>
		<key>CountryFlag</key>
		<string>Iran.png</string>
		<key>CountryCode</key>
		<string>+98</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Indonesia</string>
		<key>CountryFlag</key>
		<string>indonesia.png</string>
		<key>CountryCode</key>
		<string>+62</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>India</string>
		<key>CountryFlag</key>
		<string>india.png</string>
		<key>CountryCode</key>
		<string>+91</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Iceland</string>
		<key>CountryFlag</key>
		<string>iceland.png</string>
		<key>CountryCode</key>
		<string>+354</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Hungary</string>
		<key>CountryFlag</key>
		<string>hungary.png</string>
		<key>CountryCode</key>
		<string>+36</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Hong Kong</string>
		<key>CountryFlag</key>
		<string>hong-kong.png</string>
		<key>CountryCode</key>
		<string>+852</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Honduras</string>
		<key>CountryFlag</key>
		<string>honduras.png</string>
		<key>CountryCode</key>
		<string>+504</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Haiti</string>
		<key>CountryFlag</key>
		<string>haiti.png</string>
		<key>CountryCode</key>
		<string>+509</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Guyana</string>
		<key>CountryFlag</key>
		<string>guyana.png</string>
		<key>CountryCode</key>
		<string>+592</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Guinea-Bissau</string>
		<key>CountryFlag</key>
		<string>Guinea-Bissau.png</string>
		<key>CountryCode</key>
		<string>+245</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Guinea</string>
		<key>CountryFlag</key>
		<string>guinea.png</string>
		<key>CountryCode</key>
		<string>+224</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Guernsey</string>
		<key>CountryFlag</key>
		<string>guernsey.png</string>
		<key>CountryCode</key>
		<string>+44</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Guatemala</string>
		<key>CountryFlag</key>
		<string>guatemala.png</string>
		<key>CountryCode</key>
		<string>+502</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Guam</string>
		<key>CountryFlag</key>
		<string>guam.png</string>
		<key>CountryCode</key>
		<string>+1 671</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Grenada</string>
		<key>CountryFlag</key>
		<string>grenada.png</string>
		<key>CountryCode</key>
		<string>+1 473</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Greenland</string>
		<key>CountryFlag</key>
		<string>greenland.png</string>
		<key>CountryCode</key>
		<string>+299</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Greece</string>
		<key>CountryFlag</key>
		<string>greece.png</string>
		<key>CountryCode</key>
		<string>+30</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Global Mobile Satellite System (GMSS)</string>
		<key>CountryFlag</key>
		<string>Global Mobile Satellite System (GMSS).png</string>
		<key>CountryCode</key>
		<string>+881</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Gibraltar</string>
		<key>CountryFlag</key>
		<string>gibraltar.png</string>
		<key>CountryCode</key>
		<string>+350</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Ghana</string>
		<key>CountryFlag</key>
		<string>ghana.png</string>
		<key>CountryCode</key>
		<string>+233</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Germany</string>
		<key>CountryFlag</key>
		<string>germany.png</string>
		<key>CountryCode</key>
		<string>+49</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Georgia</string>
		<key>CountryFlag</key>
		<string>georgia.png</string>
		<key>CountryCode</key>
		<string>+995</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Gambia</string>
		<key>CountryFlag</key>
		<string>gambia.png</string>
		<key>CountryCode</key>
		<string>+220</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Gabon</string>
		<key>CountryFlag</key>
		<string>gabon.png</string>
		<key>CountryCode</key>
		<string>+241</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>French Polynesia</string>
		<key>CountryFlag</key>
		<string>french polynesia.png</string>
		<key>CountryCode</key>
		<string>+689</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>French Antilles</string>
		<key>CountryFlag</key>
		<string>french antilles.png</string>
		<key>CountryCode</key>
		<string>+596</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>France</string>
		<key>CountryFlag</key>
		<string>france.png</string>
		<key>CountryCode</key>
		<string>+33</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Finland</string>
		<key>CountryFlag</key>
		<string>finland.png</string>
		<key>CountryCode</key>
		<string>+358</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Fiji</string>
		<key>CountryFlag</key>
		<string>fiji.png</string>
		<key>CountryCode</key>
		<string>+679</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Faroe Islands</string>
		<key>CountryFlag</key>
		<string>Faroe Islands.png</string>
		<key>CountryCode</key>
		<string>+298</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Falkland Islands</string>
		<key>CountryFlag</key>
		<string>Falkland Islands.png</string>
		<key>CountryCode</key>
		<string>+500</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Ethiopia</string>
		<key>CountryFlag</key>
		<string>ethiopia.png</string>
		<key>CountryCode</key>
		<string>+251</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Estonia</string>
		<key>CountryFlag</key>
		<string>estonia.png</string>
		<key>CountryCode</key>
		<string>+372</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Eritrea</string>
		<key>CountryFlag</key>
		<string>eritrea.png</string>
		<key>CountryCode</key>
		<string>+291</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Equatorial Guinea</string>
		<key>CountryFlag</key>
		<string>equatorial guinea.png</string>
		<key>CountryCode</key>
		<string>+240</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Ellipso (Mobile Satellite service)</string>
		<key>CountryFlag</key>
		<string>Ellipso (Mobile Satellite service).png</string>
		<key>CountryCode</key>
		<string>+881 2, +881 3</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>El Salvador</string>
		<key>CountryFlag</key>
		<string>el-salvador.png</string>
		<key>CountryCode</key>
		<string>+503</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Egypt</string>
		<key>CountryFlag</key>
		<string>egypt.png</string>
		<key>CountryCode</key>
		<string>+20</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Easter Island</string>
		<key>CountryFlag</key>
		<string>easter-island.png</string>
		<key>CountryCode</key>
		<string>+56</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>East Timor</string>
		<key>CountryFlag</key>
		<string>east-timor.png</string>
		<key>CountryCode</key>
		<string>+670</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Dominican Republic</string>
		<key>CountryFlag</key>
		<string>Dominican Republic.png</string>
		<key>CountryCode</key>
		<string>+1 809, +1 829, +1 849</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Dominica</string>
		<key>CountryFlag</key>
		<string>dominica.png</string>
		<key>CountryCode</key>
		<string>+1 767</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Djibouti</string>
		<key>CountryFlag</key>
		<string>djibouti.png</string>
		<key>CountryCode</key>
		<string>+253</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Denmark</string>
		<key>CountryFlag</key>
		<string>denmark.png</string>
		<key>CountryCode</key>
		<string>+45</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Czech Republic</string>
		<key>CountryFlag</key>
		<string>czech republic.png</string>
		<key>CountryCode</key>
		<string>+420</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Cyprus</string>
		<key>CountryFlag</key>
		<string>cyprus.png</string>
		<key>CountryCode</key>
		<string>+357</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Curaçao</string>
		<key>CountryFlag</key>
		<string>Curaçao.png</string>
		<key>CountryCode</key>
		<string>+599 9</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Cuba</string>
		<key>CountryFlag</key>
		<string>cuba.png</string>
		<key>CountryCode</key>
		<string>+53</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Croatia</string>
		<key>CountryFlag</key>
		<string>croatia.png</string>
		<key>CountryCode</key>
		<string>+385</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Côte d&apos;Ivoire</string>
		<key>CountryFlag</key>
		<string>côte d&apos;Ivoire.png</string>
		<key>CountryCode</key>
		<string>+225</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Costa Rica</string>
		<key>CountryFlag</key>
		<string>costa rica.png</string>
		<key>CountryCode</key>
		<string>+506</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Cook Islands</string>
		<key>CountryFlag</key>
		<string>cook islands.png</string>
		<key>CountryCode</key>
		<string>+682</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Congo, Democratic Republic of the (Zaire)</string>
		<key>CountryFlag</key>
		<string>Congo, Democratic Republic of the (Zaire).png</string>
		<key>CountryCode</key>
		<string>+243</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Congo</string>
		<key>CountryFlag</key>
		<string>Congo.png</string>
		<key>CountryCode</key>
		<string>+242</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Comoros</string>
		<key>CountryFlag</key>
		<string>comoros.png</string>
		<key>CountryCode</key>
		<string>+269</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Colombia</string>
		<key>CountryFlag</key>
		<string>colombia.png</string>
		<key>CountryCode</key>
		<string>+57</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>China</string>
		<key>CountryFlag</key>
		<string>china.png</string>
		<key>CountryCode</key>
		<string>+86</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Chile</string>
		<key>CountryFlag</key>
		<string>chile</string>
		<key>CountryCode</key>
		<string>+56</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Chatham Island, New Zealand</string>
		<key>CountryFlag</key>
		<string>Chatham Island, New Zealand.png</string>
		<key>CountryCode</key>
		<string>+64</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Chad</string>
		<key>CountryFlag</key>
		<string>chad.png</string>
		<key>CountryCode</key>
		<string>+235</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Central African Republic</string>
		<key>CountryFlag</key>
		<string>Central African Republic.png</string>
		<key>CountryCode</key>
		<string>+236</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Cayman Islands</string>
		<key>CountryFlag</key>
		<string>Cayman Islands.png</string>
		<key>CountryCode</key>
		<string>+1 345</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Caribbean Netherlands</string>
		<key>CountryFlag</key>
		<string>Caribbean Netherlands.png</string>
		<key>CountryCode</key>
		<string>+599 3, +599 4, +599 7</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Cape Verde</string>
		<key>CountryFlag</key>
		<string>Cape Verde.png</string>
		<key>CountryCode</key>
		<string>+238</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Canada</string>
		<key>CountryFlag</key>
		<string>canada.png</string>
		<key>CountryCode</key>
		<string>+1</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Cameroon</string>
		<key>CountryFlag</key>
		<string>cameroon.png</string>
		<key>CountryCode</key>
		<string>+237</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Cambodia</string>
		<key>CountryFlag</key>
		<string>cambodia.png</string>
		<key>CountryCode</key>
		<string>+855</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Burundi</string>
		<key>CountryFlag</key>
		<string>burundi.png</string>
		<key>CountryCode</key>
		<string>+257</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Burma</string>
		<key>CountryFlag</key>
		<string>burma.png</string>
		<key>CountryCode</key>
		<string>+95</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Burkina Faso</string>
		<key>CountryFlag</key>
		<string>burkina faso.png</string>
		<key>CountryCode</key>
		<string>+226</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Bulgaria</string>
		<key>CountryFlag</key>
		<string>bulgaria.png</string>
		<key>CountryCode</key>
		<string>+359</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>British Virgin Islands</string>
		<key>CountryFlag</key>
		<string>British Virgin Islands.png</string>
		<key>CountryCode</key>
		<string>+1 284</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>British Indian Ocean Territory</string>
		<key>CountryFlag</key>
		<string>British Indian Ocean Territory.png</string>
		<key>CountryCode</key>
		<string>+246</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Brazil</string>
		<key>CountryFlag</key>
		<string>brazil.png</string>
		<key>CountryCode</key>
		<string>+55</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Botswana</string>
		<key>CountryFlag</key>
		<string>botswana.png</string>
		<key>CountryCode</key>
		<string>+267</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Bosnia and Herzegovina</string>
		<key>CountryFlag</key>
		<string>Bosnia and Herzegovina.png</string>
		<key>CountryCode</key>
		<string>+387</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Bonaire</string>
		<key>CountryFlag</key>
		<string>bonaire.png</string>
		<key>CountryCode</key>
		<string>+599 7</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Bolivia</string>
		<key>CountryFlag</key>
		<string>bolivia.png</string>
		<key>CountryCode</key>
		<string>+591</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Bhutan</string>
		<key>CountryFlag</key>
		<string>bhutan.png</string>
		<key>CountryCode</key>
		<string>+975</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Bermuda</string>
		<key>CountryFlag</key>
		<string>bermuda.png</string>
		<key>CountryCode</key>
		<string>+1 441</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Benin</string>
		<key>CountryFlag</key>
		<string>benin.png</string>
		<key>CountryCode</key>
		<string>+229</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Belize</string>
		<key>CountryFlag</key>
		<string>belize.png</string>
		<key>CountryCode</key>
		<string>+501</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Belgium</string>
		<key>CountryFlag</key>
		<string>belgium.png</string>
		<key>CountryCode</key>
		<string>+32</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Belarus</string>
		<key>CountryFlag</key>
		<string>belarus.png</string>
		<key>CountryCode</key>
		<string>+375</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Barbuda</string>
		<key>CountryFlag</key>
		<string>barbuda.png</string>
		<key>CountryCode</key>
		<string>+1 268</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Barbados</string>
		<key>CountryFlag</key>
		<string>barbados.png</string>
		<key>CountryCode</key>
		<string>+1 246</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Bangladesh</string>
		<key>CountryFlag</key>
		<string>bangladesh.png</string>
		<key>CountryCode</key>
		<string>+880</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Bahrain</string>
		<key>CountryFlag</key>
		<string>bahrain.png</string>
		<key>CountryCode</key>
		<string>+973</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Bahamas</string>
		<key>CountryFlag</key>
		<string>bahamas.png</string>
		<key>CountryCode</key>
		<string>+1 242</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Azerbaijan</string>
		<key>CountryFlag</key>
		<string>azerbaijan.png</string>
		<key>CountryCode</key>
		<string>+994</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Austria</string>
		<key>CountryFlag</key>
		<string>austria.png</string>
		<key>CountryCode</key>
		<string>+43</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Australia</string>
		<key>CountryFlag</key>
		<string>Australia.png</string>
		<key>CountryCode</key>
		<string>+61</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Aruba</string>
		<key>CountryFlag</key>
		<string>aruba.png</string>
		<key>CountryCode</key>
		<string>+297</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Armenia</string>
		<key>CountryFlag</key>
		<string>armenia.png</string>
		<key>CountryCode</key>
		<string>+374</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Argentina</string>
		<key>CountryFlag</key>
		<string>argentina.png</string>
		<key>CountryCode</key>
		<string>+54</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Anguilla</string>
		<key>CountryFlag</key>
		<string>anguilla.png</string>
		<key>CountryCode</key>
		<string>+1 264</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Angola</string>
		<key>CountryFlag</key>
		<string>angola.png</string>
		<key>CountryCode</key>
		<string>+244</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Andorra</string>
		<key>CountryFlag</key>
		<string>andorra.png</string>
		<key>CountryCode</key>
		<string>+376</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>American Samoa</string>
		<key>CountryFlag</key>
		<string>american samoa.png</string>
		<key>CountryCode</key>
		<string>+1 684</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Algeria</string>
		<key>CountryFlag</key>
		<string>algeria.png</string>
		<key>CountryCode</key>
		<string>+213</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Albania</string>
		<key>CountryFlag</key>
		<string>albania.png</string>
		<key>CountryCode</key>
		<string>+355</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Åland Islands</string>
		<key>CountryFlag</key>
		<string>Åland Islands.png</string>
		<key>CountryCode</key>
		<string>+358 18</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Afghanistan</string>
		<key>CountryFlag</key>
		<string>afghanistan.png</string>
		<key>CountryCode</key>
		<string>+93</string>
	</dict>
	<dict>
		<key>CountryName</key>
		<string>Abkhazia</string>
		<key>CountryFlag</key>
		<string>abkhazia.png</string>
		<key>CountryCode</key>
		<string>+7 940</string>
	</dict>
</array>
</plist>
